.Card{
    border-radius: 1.563rem;
    border: 0.125rem solid $cardColor;
    padding: 1.25rem;
    margin: 2rem;
    height: 25rem;
    h3{
        font-size: 1.25rem;
        font-weight: bold;
    }
    h6{
        font-size: 1 rem!important;
        font-family: italic;
    }
}