.Card{
    border-radius: 25px;
    border: 2px solid #ada4a4;
    padding: 20px;
    margin: 2rem;
    height: 400px;
    h3{
        font-size: 1.25rem;
        font-weight: bold;
    }
    h6{
        font-size: 1 rem!important;
        font-family: italic;
    }
}