.Footer{
    background-color: $footerBackgroundColor;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    .footerContent{
        padding: 2rem 0;
        h3{
            color: $textColor;
            font-weight: 300;
            font-size: 1.25rem;
            line-height: 1.5;
            text-transform: uppercase;
        }
        li{
            margin: 0.625rem 0;
        }
        a{
            color: rgba(255, 255, 255, 0.5);
        }
        img{
            max-width: 1.25rem;
            max-height: 1.25rem;
            vertical-align: middle;
            margin-right: 0.313rem;
        }
        .copyright{
            border-top: 0.063rem solid;
            font-size: 0.8rem;
            opacity: 0.5;
            padding-top: 2rem;
            text-align: center;
        }
    }
}