@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import "variables.scss";
@import "presentation.scss";
@import "projects.scss";
@import "card.scss";
@import "tools.scss";
@import "footer.scss";

body{
    color: $primaryColor;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

p {
    word-break: break-word;
}

ul {
    list-style-type: none;
    padding-left: 0;
}