$primaryColor: #BADA55;
$backgroundColor: #FFFFFF;
$textColor: #FFFFFF;
$projectColor: #555555;
$cardColor: #ada4a4;
$footerBackgroundColor: #111111;
$presentationColor: #111111;
$toolsColor: #555555;